body{
    padding: 10px;
    max-width:100%;
    background: linear-gradient(to left, #ffffff, #e7e7e7ba, #ffffff, #dadada, #ffffff),
                linear-gradient(to top, transparent 20%, rgba(226, 226, 226, 0.62), #ffffff5f); 
    
}

header{
    font-family:var(--typography--header);
    font-weight: 100;
}

aside{
    font-family:var(--typography--header);
    font-weight: 200;
}

h1,h2,h3{
    font-size: calc(var(--scale) * var(--font-size));
}

h1{
    font-family:var(--typography--h1);
}

h2{
    font-family:var(--typography--h2);
}

h3{
    font-family:var(--typography--h3);
}


body{
    font-family: var(--font-display);
}

blockquote{
    font-family: var(--font-display);
    font-weight: 600;
    font-size: calc(1.2*var(--font-size));
    margin-bottom: calc(var(--scale)*var(--spacing));
    margin-top: calc(var(--scale)*var(--spacing));
    line-height: calc(1.1*var(--baseline));
    text-indent: var(--indent);
    margin-left: 1em;
}

p{
    line-height: var(--baseline);
    font-size: var(--font-size);
    margin-bottom: calc(1.3*var(--spacing));
 }

 em{
    font-family:var(--typography--header);
    font-size: calc(1.3*var(--font-size));
    line-height: calc(2.3*var(--baseline));
 }


.title{
    margin-top: calc(var(--scale)*var(--spacing));
    margin-bottom: calc(0.3*var(--spacing));
    font-size: calc(3.5*var(--font-size));
    font-weight: 600;
    line-height: calc(var(--scale)*var(--baseline));
 }

 h4{
    font-family: var(--font-display);
    font-size: var(--font-size);
    margin-bottom: calc(2* var(--spacing));
    font-weight: 600;
    margin-left: var(--inset--left);
}

 .article{
    max-width: 60em;
    margin: calc(1/2*var(--spacing));
 }
 
 footer{
    font-family: var(--typography--aside);
    font-size: calc(2/3*var(--font-size));
 }


h6{
    line-height: var(--baseline);
    font-size: var(--font-size);
    margin-bottom: var(--spacing);
}


h7{
    font-family: var(--typography--header);
    font-weight: 200;
    opacity: 1%;
}


/* Information Page */
.information{
    margin: calc(1/2*var(--spacing));
}

.introduction{
    margin-bottom: calc(2.4*var(--spacing));
}

h8{
    font-family: var(--font-display);
    font-size: var(--font-size);
}

.contact{
    margin-top: var(--spacing);
    margin-bottom: calc(2.4*var(--spacing));    
}

.response{
    margin-top: var(--spacing);
}

