body{
    padding: 10px;
    max-width:100%
}

header{
    font-family:var(--typography--header);
    text-align: center;
}

aside{
    font-family:var(--typography--aside);
}

h1,h2,h3{
    margin-bottom: var(--spacing);
    font-size: calc(var(--scale) * var(--font-size));
}

h1{
    font-family:var(--typography--h1);
}

h2{
    font-family:var(--typography--h2);
}

h3{
    font-family:var(--typography--h3);
}

h4{
    font-family: var(--font-display);
    font-size: var(--font-size);
    margin-bottom: var(--spacing);
}

body{
    font-family: var(--font-display);
}

blockquote{
    font-family: var(--font-display);
    font-weight: 500;
    font-size: var(--font-size);
    margin-bottom: var(--spacing);
}

p{
    line-height: var(--baseline);
    font-size: var(--font-size);
    margin-bottom: var(--spacing);
 }
 
 .title{
    font-size: calc(3*var(--font-size));
 }

 .article-1{
    max-width: 75em;
 }

 .article-2{
    max-width: 75em;
 }

 .article-3{
    max-width: 75em;
 }