body{
    padding: 10px;
    max-width:100%
}

header{
    font-family:var(--typography--header);
    font-weight: 100;
}

aside{
    font-family:var(--typography--header);
    font-weight: 200;
}

h1,h2,h3{
    font-size: calc(var(--scale) * var(--font-size));
}

h1{
    font-family:var(--typography--h1);
}

h2{
    font-family:var(--typography--h2);
}

h3{
    font-family:var(--typography--h3);
}

h4{
    font-family: var(--font-display);
    font-size: var(--font-size);
    margin-bottom: calc(2* var(--spacing));
    font-weight: 600;
}

body{
    font-family: var(--font-display);
}

blockquote{
    font-family: var(--font-display);
    font-weight: 600;
    font-size: var(--font-size);
    margin-bottom: var(--spacing);
}

p{
    line-height: var(--baseline);
    font-size: var(--font-size);
    margin-bottom: var(--spacing);
 }
 
 footer{
    font-family: var(--typography--aside);
    font-size: calc(2/3*var(--font-size));
 }

 .title{
    margin-top: calc(2*var(--spacing));
    font-size: calc(2.6*var(--font-size));
 }

 .article{
    max-width: 75em;
 }

h6{
    line-height: var(--baseline);
    font-size: var(--font-size);
    margin-bottom: var(--spacing);
}